<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<a href="/products" title="Get product list">Products</a>
<a href="/categories" title="Get list of categories">Categories</a>
<a href="/bacterias" title="Get list of bacteria">Bacterias</a>
<a href="/limits" title="Get list of limits">Limits</a>


<!--<a href="/products" title="Get product list" >Owners</a>-->
<h1 th:text="${title}"></h1>
<table id="products-table">
    <tr>
        <th>Bacteria</th>
        <th>Limit</th>
        <th>Category</th>
    <tr/>
    <tr th:each="limit: ${limits}">
        <td th:text="${limit.getProductId()}"></td>
        <td th:text="${limit.getLimit()}"></td>
        <td th:text="${limit.getCategoryId()}"></td>
    </tr>

</table>
</body>
</html>